html 
    head
        title=title
        script(src="")
    body
        h1(id="myH1")=h1Text  
    div(class="WelcomeMSGContainer")="Welcome to Jett, Daniel and Trey's index page for DBT330 WikiDump!!!"
    form(action="/get", method="POST")
        div(Class="MonthDiv")
            label(for="MonthTextBox")="Month: "
            input(Name="MonthTextBox" type="text")
        div(Class="DayDiv")
            label(for="DayTextBox")="Day: "
            input(Name="DayTextBox" type="text")
        div(Class="YearDiv")
            label(for="YearTextBox")="Year: "
            input(Name="YearTextBox" type="text")
        div(Class="InputButton")
        input(type="submit", value="Enter")